@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --font-logo: "DynaPuff"; 
  --font-card: "Poppins"; 
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fffd8e;
}

html{
  scroll-behavior: smooth;
}

/* filter btn */
.btn-hover{
  @apply cursor-pointer  hover:bg-white/90 hover:text-black/70 hover:rounded-full hover:shadow transition-all ease-in-out duration-250;
}
.btn-active{
  @apply  bg-white/90 text-black/70 rounded-full shadow;
}

/* hide scrollbar */
*::-webkit-scrollbar {
  display: none;
}

/* toggle bar */
.bar-1{
  @apply my-[-3.2px] rotate-45 transition-all ease-in-out duration-100;
}
.bar-2{
  @apply hidden transition-all ease-in-out duration-100;
}

.bar-3{
  @apply my-[-3.2px] -rotate-45 transition-all ease-in-out duration-100;
}

/* side bar animation */
.slide-bar{
  animation: slide-in 100ms linear forwards;
}

@keyframes slide-in{
  from{width: 0%;}
  to{width: 180%;}
}